[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "*"
huggingface-hub = "*"
hydra-core = "*"
omegaconf = "*"
pillow = "*"
requests = "*"
tqdm = "*"
torch = "*"
torchvision = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.13"
