[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
datasets = "==3.6.0"
huggingface-hub = "*"
hydra-core = "*"
omegaconf = "*"
pillow = "*"
requests = "*"
tqdm = "*"
torch = "*"
torchvision = "*"
transformers = "*"
boto3 = "*"
comet-ml = "*"
scipy = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
